name: TODO App Deploy

# GitHubにコードがPushされたら実行してね！という合図
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest  # GitHubが用意した仮想の作業場で実行

    steps:
    - name: Checkout code
      uses: actions/checkout@v3 # あなたのコードを工場に運び込む

    - name: Deploy to EC2
      uses: appleboy/scp-action@master # ファイルをAWSに送るロボット
      with:
        host: 18.220.245.210        # ← ここを自分のEC2のIPに変える
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }} # 後で設定する「合鍵」
        source: "index.html"
        target: "/home/ubuntu/todo-app/"

    - name: Restart Nginx
      uses: appleboy/ssh-action@master # AWSでコマンドを実行するロボット
      with:
        host: 18.220.245.210        # ← ここを自分のEC2のIPに変える
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          sudo cp /home/ubuntu/todo-app/index.html /var/www/html/index.html
          # Dockerを使っている場合はここにdocker restartコマンドを書く